{% extends "layout.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{%  block content %}
    <main class="main_content">
        <h1 class="title">Departures</h1>
        <h3 class="subtitle">Waiting to leave the hotel</h3>

        <div class="input input--search">
            <img src="{% static 'images/icons/search.svg' %}" alt="search" class="input__icon">
            <input
                type="text"
                placeholder="Search by guest name or booking number"
                class="input__field input__field--search"
                id="search"
                value="{{ query_params.search }}"
            >
        </div>

        <div class="topbar">
            <div class="topbar__actions">
                <button class="button" type="button" onclick="window.location.href='{% url 'dashboard' %}'">
                    <img src="{% static 'images/icons/arrow-left.svg' %}" alt="back" class="button__icon">
                    <p class="button__text">back to dashboard</p>
                </button>
                <button class="button" type="button" onclick="window.location.href='{% url 'arrivals' %}'">
                    <p class="button__text">arrivals</p>
                </button>
            </div>
        </div>

        <article class="departures_content">
            {% for departure in departures %}
                {% include "blocks/departure_card.html" %}
            {% endfor %}
        </article>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/departures.js' %}"></script>
{% endblock %}